<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>pngdata/bigmouth/png1.png</key>
			<dict>
				<key>frame</key>
				<string>{{655,552},{26,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{30,36}</string>
			</dict>
			<key>pngdata/bigmouth/png10.png</key>
			<dict>
				<key>frame</key>
				<string>{{453,454},{31,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{33,23}</string>
			</dict>
			<key>pngdata/bigmouth/png11.png</key>
			<dict>
				<key>frame</key>
				<string>{{714,155},{82,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{84,64}</string>
			</dict>
			<key>pngdata/bigmouth/png12.png</key>
			<dict>
				<key>frame</key>
				<string>{{863,219},{53,29}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{54,31}</string>
			</dict>
			<key>pngdata/bigmouth/png13.png</key>
			<dict>
				<key>frame</key>
				<string>{{915,652},{70,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,49}</string>
			</dict>
			<key>pngdata/bigmouth/png14.png</key>
			<dict>
				<key>frame</key>
				<string>{{655,580},{26,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{36,42}</string>
			</dict>
			<key>pngdata/bigmouth/png15.png</key>
			<dict>
				<key>frame</key>
				<string>{{925,276},{11,13}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{13,15}</string>
			</dict>
			<key>pngdata/bigmouth/png16.png</key>
			<dict>
				<key>frame</key>
				<string>{{925,291},{11,13}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{13,15}</string>
			</dict>
			<key>pngdata/bigmouth/png17.png</key>
			<dict>
				<key>frame</key>
				<string>{{712,407},{78,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,47}</string>
			</dict>
			<key>pngdata/bigmouth/png18.png</key>
			<dict>
				<key>frame</key>
				<string>{{894,331},{49,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{51,31}</string>
			</dict>
			<key>pngdata/bigmouth/png19.png</key>
			<dict>
				<key>frame</key>
				<string>{{790,137},{104,80}}</string>
				<key>offset</key>
				<string>{-2,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,84}</string>
			</dict>
			<key>pngdata/bigmouth/png2.png</key>
			<dict>
				<key>frame</key>
				<string>{{618,581},{26,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{30,36}</string>
			</dict>
			<key>pngdata/bigmouth/png20.png</key>
			<dict>
				<key>frame</key>
				<string>{{629,155},{83,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{85,83}</string>
			</dict>
			<key>pngdata/bigmouth/png21.png</key>
			<dict>
				<key>frame</key>
				<string>{{852,537},{47,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{49,23}</string>
			</dict>
			<key>pngdata/bigmouth/png22.png</key>
			<dict>
				<key>frame</key>
				<string>{{714,239},{82,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{84,64}</string>
			</dict>
			<key>pngdata/bigmouth/png23.png</key>
			<dict>
				<key>frame</key>
				<string>{{863,274},{53,29}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{54,31}</string>
			</dict>
			<key>pngdata/bigmouth/png24.png</key>
			<dict>
				<key>frame</key>
				<string>{{309,454},{70,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,49}</string>
			</dict>
			<key>pngdata/bigmouth/png25.png</key>
			<dict>
				<key>frame</key>
				<string>{{712,567},{26,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{36,42}</string>
			</dict>
			<key>pngdata/bigmouth/png26.png</key>
			<dict>
				<key>frame</key>
				<string>{{453,487},{31,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{33,23}</string>
			</dict>
			<key>pngdata/bigmouth/png27.png</key>
			<dict>
				<key>frame</key>
				<string>{{746,567},{25,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{39,45}</string>
			</dict>
			<key>pngdata/bigmouth/png28.png</key>
			<dict>
				<key>frame</key>
				<string>{{925,306},{11,13}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{13,15}</string>
			</dict>
			<key>pngdata/bigmouth/png29.png</key>
			<dict>
				<key>frame</key>
				<string>{{925,321},{11,13}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{13,15}</string>
			</dict>
			<key>pngdata/bigmouth/png3.png</key>
			<dict>
				<key>frame</key>
				<string>{{925,336},{11,13}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{13,15}</string>
			</dict>
			<key>pngdata/bigmouth/png30.png</key>
			<dict>
				<key>frame</key>
				<string>{{712,487},{78,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,47}</string>
			</dict>
			<key>pngdata/bigmouth/png31.png</key>
			<dict>
				<key>frame</key>
				<string>{{894,382},{49,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{51,31}</string>
			</dict>
			<key>pngdata/bigmouth/png32.png</key>
			<dict>
				<key>frame</key>
				<string>{{938,213},{104,80}}</string>
				<key>offset</key>
				<string>{-2,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{108,84}</string>
			</dict>
			<key>pngdata/bigmouth/png33.png</key>
			<dict>
				<key>frame</key>
				<string>{{629,238},{83,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{85,83}</string>
			</dict>
			<key>pngdata/bigmouth/png34.png</key>
			<dict>
				<key>frame</key>
				<string>{{852,586},{47,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{49,23}</string>
			</dict>
			<key>pngdata/bigmouth/png35.png</key>
			<dict>
				<key>frame</key>
				<string>{{554,312},{82,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{84,64}</string>
			</dict>
			<key>pngdata/bigmouth/png36.png</key>
			<dict>
				<key>frame</key>
				<string>{{894,276},{53,29}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{54,31}</string>
			</dict>
			<key>pngdata/bigmouth/png37.png</key>
			<dict>
				<key>frame</key>
				<string>{{381,454},{70,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,49}</string>
			</dict>
			<key>pngdata/bigmouth/png38.png</key>
			<dict>
				<key>frame</key>
				<string>{{712,595},{25,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{39,45}</string>
			</dict>
			<key>pngdata/bigmouth/png39.png</key>
			<dict>
				<key>frame</key>
				<string>{{689,552},{31,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{33,23}</string>
			</dict>
			<key>pngdata/bigmouth/png4.png</key>
			<dict>
				<key>frame</key>
				<string>{{925,351},{11,13}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{13,15}</string>
			</dict>
			<key>pngdata/bigmouth/png40.png</key>
			<dict>
				<key>frame</key>
				<string>{{745,600},{25,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{27,33}</string>
			</dict>
			<key>pngdata/bigmouth/png41.png</key>
			<dict>
				<key>frame</key>
				<string>{{652,608},{25,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{27,33}</string>
			</dict>
			<key>pngdata/bigmouth/png42.png</key>
			<dict>
				<key>frame</key>
				<string>{{925,366},{11,13}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{13,15}</string>
			</dict>
			<key>pngdata/bigmouth/png43.png</key>
			<dict>
				<key>frame</key>
				<string>{{925,381},{11,13}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{13,15}</string>
			</dict>
			<key>pngdata/bigmouth/png44.png</key>
			<dict>
				<key>frame</key>
				<string>{{875,554},{78,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,47}</string>
			</dict>
			<key>pngdata/bigmouth/png45.png</key>
			<dict>
				<key>frame</key>
				<string>{{863,384},{49,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{51,31}</string>
			</dict>
			<key>pngdata/bigmouth/png46.png</key>
			<dict>
				<key>frame</key>
				<string>{{922,603},{74,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,49}</string>
			</dict>
			<key>pngdata/bigmouth/png47.png</key>
			<dict>
				<key>frame</key>
				<string>{{778,219},{83,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{85,83}</string>
			</dict>
			<key>pngdata/bigmouth/png48.png</key>
			<dict>
				<key>frame</key>
				<string>{{1002,556},{47,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{49,23}</string>
			</dict>
			<key>pngdata/bigmouth/png49.png</key>
			<dict>
				<key>frame</key>
				<string>{{689,585},{31,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{33,23}</string>
			</dict>
			<key>pngdata/bigmouth/png5.png</key>
			<dict>
				<key>frame</key>
				<string>{{886,474},{78,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,47}</string>
			</dict>
			<key>pngdata/bigmouth/png50.png</key>
			<dict>
				<key>frame</key>
				<string>{{554,396},{82,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{84,64}</string>
			</dict>
			<key>pngdata/bigmouth/png51.png</key>
			<dict>
				<key>frame</key>
				<string>{{896,137},{55,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{57,33}</string>
			</dict>
			<key>pngdata/bigmouth/png52.png</key>
			<dict>
				<key>frame</key>
				<string>{{476,466},{70,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,49}</string>
			</dict>
			<key>pngdata/bigmouth/png53.png</key>
			<dict>
				<key>frame</key>
				<string>{{685,618},{25,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{33,39}</string>
			</dict>
			<key>pngdata/bigmouth/png54.png</key>
			<dict>
				<key>frame</key>
				<string>{{925,396},{11,13}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{13,15}</string>
			</dict>
			<key>pngdata/bigmouth/png55.png</key>
			<dict>
				<key>frame</key>
				<string>{{925,411},{11,13}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{13,15}</string>
			</dict>
			<key>pngdata/bigmouth/png56.png</key>
			<dict>
				<key>frame</key>
				<string>{{922,556},{78,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,47}</string>
			</dict>
			<key>pngdata/bigmouth/png57.png</key>
			<dict>
				<key>frame</key>
				<string>{{855,435},{49,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{51,31}</string>
			</dict>
			<key>pngdata/bigmouth/png58.png</key>
			<dict>
				<key>frame</key>
				<string>{{938,107},{104,81}}</string>
				<key>offset</key>
				<string>{-2,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{108,84}</string>
			</dict>
			<key>pngdata/bigmouth/png59.png</key>
			<dict>
				<key>frame</key>
				<string>{{938,319},{83,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{85,83}</string>
			</dict>
			<key>pngdata/bigmouth/png6.png</key>
			<dict>
				<key>frame</key>
				<string>{{852,486},{49,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{51,31}</string>
			</dict>
			<key>pngdata/bigmouth/png60.png</key>
			<dict>
				<key>frame</key>
				<string>{{998,605},{47,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{49,23}</string>
			</dict>
			<key>pngdata/bigmouth/png61.png</key>
			<dict>
				<key>frame</key>
				<string>{{713,323},{82,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{84,64}</string>
			</dict>
			<key>pngdata/bigmouth/png62.png</key>
			<dict>
				<key>frame</key>
				<string>{{863,329},{53,29}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{54,31}</string>
			</dict>
			<key>pngdata/bigmouth/png63.png</key>
			<dict>
				<key>frame</key>
				<string>{{548,480},{70,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{72,49}</string>
			</dict>
			<key>pngdata/bigmouth/png64.png</key>
			<dict>
				<key>frame</key>
				<string>{{712,622},{25,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{33,39}</string>
			</dict>
			<key>pngdata/bigmouth/png65.png</key>
			<dict>
				<key>frame</key>
				<string>{{772,616},{31,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{33,23}</string>
			</dict>
			<key>pngdata/bigmouth/png7.png</key>
			<dict>
				<key>frame</key>
				<string>{{938,1},{104,82}}</string>
				<key>offset</key>
				<string>{-2,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{108,84}</string>
			</dict>
			<key>pngdata/bigmouth/png8.png</key>
			<dict>
				<key>frame</key>
				<string>{{778,302},{83,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{85,83}</string>
			</dict>
			<key>pngdata/bigmouth/png9.png</key>
			<dict>
				<key>frame</key>
				<string>{{987,654},{47,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{49,23}</string>
			</dict>
			<key>pngdata/evils/png1.png</key>
			<dict>
				<key>frame</key>
				<string>{{994,728},{21,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{23,29}</string>
			</dict>
			<key>pngdata/evils/png10.png</key>
			<dict>
				<key>frame</key>
				<string>{{938,402},{76,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,77}</string>
			</dict>
			<key>pngdata/evils/png11.png</key>
			<dict>
				<key>frame</key>
				<string>{{696,425},{41,14}}</string>
				<key>offset</key>
				<string>{2,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{45,15}</string>
			</dict>
			<key>pngdata/evils/png12.png</key>
			<dict>
				<key>frame</key>
				<string>{{476,312},{76,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,77}</string>
			</dict>
			<key>pngdata/evils/png13.png</key>
			<dict>
				<key>frame</key>
				<string>{{759,450},{13,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{15,27}</string>
			</dict>
			<key>pngdata/evils/png14.png</key>
			<dict>
				<key>frame</key>
				<string>{{859,674},{21,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{59,59}</string>
			</dict>
			<key>pngdata/evils/png15.png</key>
			<dict>
				<key>frame</key>
				<string>{{994,751},{21,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{23,29}</string>
			</dict>
			<key>pngdata/evils/png16.png</key>
			<dict>
				<key>frame</key>
				<string>{{597,480},{19,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{21,29}</string>
			</dict>
			<key>pngdata/evils/png17.png</key>
			<dict>
				<key>frame</key>
				<string>{{266,459},{21,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{23,27}</string>
			</dict>
			<key>pngdata/evils/png18.png</key>
			<dict>
				<key>frame</key>
				<string>{{913,701},{23,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{25,28}</string>
			</dict>
			<key>pngdata/evils/png19.png</key>
			<dict>
				<key>frame</key>
				<string>{{769,663},{22,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{24,30}</string>
			</dict>
			<key>pngdata/evils/png2.png</key>
			<dict>
				<key>frame</key>
				<string>{{597,509},{19,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{21,29}</string>
			</dict>
			<key>pngdata/evils/png20.png</key>
			<dict>
				<key>frame</key>
				<string>{{153,505},{19,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{21,28}</string>
			</dict>
			<key>pngdata/evils/png21.png</key>
			<dict>
				<key>frame</key>
				<string>{{745,633},{22,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{24,31}</string>
			</dict>
			<key>pngdata/evils/png22.png</key>
			<dict>
				<key>frame</key>
				<string>{{515,515},{35,27}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{59,59}</string>
			</dict>
			<key>pngdata/evils/png23.png</key>
			<dict>
				<key>frame</key>
				<string>{{894,433},{39,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,57}</string>
			</dict>
			<key>pngdata/evils/png24.png</key>
			<dict>
				<key>frame</key>
				<string>{{476,389},{76,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,77}</string>
			</dict>
			<key>pngdata/evils/png25.png</key>
			<dict>
				<key>frame</key>
				<string>{{696,321},{50,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{52,16}</string>
			</dict>
			<key>pngdata/evils/png26.png</key>
			<dict>
				<key>frame</key>
				<string>{{618,321},{76,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,77}</string>
			</dict>
			<key>pngdata/evils/png27.png</key>
			<dict>
				<key>frame</key>
				<string>{{759,477},{13,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{15,27}</string>
			</dict>
			<key>pngdata/evils/png28.png</key>
			<dict>
				<key>frame</key>
				<string>{{890,674},{21,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{59,59}</string>
			</dict>
			<key>pngdata/evils/png29.png</key>
			<dict>
				<key>frame</key>
				<string>{{759,504},{13,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{15,27}</string>
			</dict>
			<key>pngdata/evils/png3.png</key>
			<dict>
				<key>frame</key>
				<string>{{266,482},{21,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{23,27}</string>
			</dict>
			<key>pngdata/evils/png30.png</key>
			<dict>
				<key>frame</key>
				<string>{{153,459},{21,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{23,29}</string>
			</dict>
			<key>pngdata/evils/png31.png</key>
			<dict>
				<key>frame</key>
				<string>{{597,538},{19,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{21,29}</string>
			</dict>
			<key>pngdata/evils/png32.png</key>
			<dict>
				<key>frame</key>
				<string>{{153,482},{21,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{23,27}</string>
			</dict>
			<key>pngdata/evils/png33.png</key>
			<dict>
				<key>frame</key>
				<string>{{883,705},{23,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{25,28}</string>
			</dict>
			<key>pngdata/evils/png34.png</key>
			<dict>
				<key>frame</key>
				<string>{{743,664},{22,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{24,30}</string>
			</dict>
			<key>pngdata/evils/png35.png</key>
			<dict>
				<key>frame</key>
				<string>{{181,505},{19,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{21,28}</string>
			</dict>
			<key>pngdata/evils/png36.png</key>
			<dict>
				<key>frame</key>
				<string>{{712,649},{22,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{24,31}</string>
			</dict>
			<key>pngdata/evils/png37.png</key>
			<dict>
				<key>frame</key>
				<string>{{829,683},{21,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{59,59}</string>
			</dict>
			<key>pngdata/evils/png38.png</key>
			<dict>
				<key>frame</key>
				<string>{{515,552},{35,27}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{59,59}</string>
			</dict>
			<key>pngdata/evils/png39.png</key>
			<dict>
				<key>frame</key>
				<string>{{476,515},{37,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{38,38}</string>
			</dict>
			<key>pngdata/evils/png4.png</key>
			<dict>
				<key>frame</key>
				<string>{{941,701},{23,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{25,28}</string>
			</dict>
			<key>pngdata/evils/png40.png</key>
			<dict>
				<key>frame</key>
				<string>{{618,398},{76,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,77}</string>
			</dict>
			<key>pngdata/evils/png41.png</key>
			<dict>
				<key>frame</key>
				<string>{{696,373},{50,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{52,16}</string>
			</dict>
			<key>pngdata/evils/png42.png</key>
			<dict>
				<key>frame</key>
				<string>{{777,385},{76,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,77}</string>
			</dict>
			<key>pngdata/evils/png43.png</key>
			<dict>
				<key>frame</key>
				<string>{{182,459},{21,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{23,29}</string>
			</dict>
			<key>pngdata/evils/png44.png</key>
			<dict>
				<key>frame</key>
				<string>{{234,483},{19,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{21,29}</string>
			</dict>
			<key>pngdata/evils/png45.png</key>
			<dict>
				<key>frame</key>
				<string>{{180,482},{21,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{23,27}</string>
			</dict>
			<key>pngdata/evils/png46.png</key>
			<dict>
				<key>frame</key>
				<string>{{969,703},{23,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{25,28}</string>
			</dict>
			<key>pngdata/evils/png47.png</key>
			<dict>
				<key>frame</key>
				<string>{{829,659},{22,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{24,30}</string>
			</dict>
			<key>pngdata/evils/png48.png</key>
			<dict>
				<key>frame</key>
				<string>{{209,505},{19,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{21,28}</string>
			</dict>
			<key>pngdata/evils/png49.png</key>
			<dict>
				<key>frame</key>
				<string>{{805,616},{22,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{24,31}</string>
			</dict>
			<key>pngdata/evils/png5.png</key>
			<dict>
				<key>frame</key>
				<string>{{799,665},{22,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{24,30}</string>
			</dict>
			<key>pngdata/evils/png50.png</key>
			<dict>
				<key>frame</key>
				<string>{{552,552},{35,27}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{59,59}</string>
			</dict>
			<key>pngdata/evils/png51.png</key>
			<dict>
				<key>frame</key>
				<string>{{896,194},{39,40}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{55,57}</string>
			</dict>
			<key>pngdata/evils/png52.png</key>
			<dict>
				<key>frame</key>
				<string>{{618,475},{76,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,77}</string>
			</dict>
			<key>pngdata/evils/png53.png</key>
			<dict>
				<key>frame</key>
				<string>{{696,468},{41,14}}</string>
				<key>offset</key>
				<string>{2,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{45,16}</string>
			</dict>
			<key>pngdata/evils/png54.png</key>
			<dict>
				<key>frame</key>
				<string>{{774,462},{76,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,77}</string>
			</dict>
			<key>pngdata/evils/png55.png</key>
			<dict>
				<key>frame</key>
				<string>{{759,531},{13,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{15,27}</string>
			</dict>
			<key>pngdata/evils/png56.png</key>
			<dict>
				<key>frame</key>
				<string>{{797,689},{21,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{59,59}</string>
			</dict>
			<key>pngdata/evils/png57.png</key>
			<dict>
				<key>frame</key>
				<string>{{696,511},{13,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{15,27}</string>
			</dict>
			<key>pngdata/evils/png58.png</key>
			<dict>
				<key>frame</key>
				<string>{{211,459},{21,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{23,29}</string>
			</dict>
			<key>pngdata/evils/png59.png</key>
			<dict>
				<key>frame</key>
				<string>{{234,504},{19,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{21,29}</string>
			</dict>
			<key>pngdata/evils/png6.png</key>
			<dict>
				<key>frame</key>
				<string>{{153,526},{19,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{21,28}</string>
			</dict>
			<key>pngdata/evils/png60.png</key>
			<dict>
				<key>frame</key>
				<string>{{207,482},{21,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{23,27}</string>
			</dict>
			<key>pngdata/evils/png61.png</key>
			<dict>
				<key>frame</key>
				<string>{{997,703},{23,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{25,28}</string>
			</dict>
			<key>pngdata/evils/png62.png</key>
			<dict>
				<key>frame</key>
				<string>{{767,687},{22,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{24,30}</string>
			</dict>
			<key>pngdata/evils/png63.png</key>
			<dict>
				<key>frame</key>
				<string>{{181,526},{19,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{21,28}</string>
			</dict>
			<key>pngdata/evils/png64.png</key>
			<dict>
				<key>frame</key>
				<string>{{769,639},{22,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{24,31}</string>
			</dict>
			<key>pngdata/evils/png65.png</key>
			<dict>
				<key>frame</key>
				<string>{{852,697},{21,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{59,59}</string>
			</dict>
			<key>pngdata/evils/png66.png</key>
			<dict>
				<key>frame</key>
				<string>{{618,552},{35,27}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{59,59}</string>
			</dict>
			<key>pngdata/evils/png67.png</key>
			<dict>
				<key>frame</key>
				<string>{{875,634},{38,38}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,56}</string>
			</dict>
			<key>pngdata/evils/png68.png</key>
			<dict>
				<key>frame</key>
				<string>{{774,539},{76,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,77}</string>
			</dict>
			<key>pngdata/evils/png69.png</key>
			<dict>
				<key>frame</key>
				<string>{{759,407},{41,14}}</string>
				<key>offset</key>
				<string>{2,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{45,15}</string>
			</dict>
			<key>pngdata/evils/png7.png</key>
			<dict>
				<key>frame</key>
				<string>{{836,635},{22,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{24,31}</string>
			</dict>
			<key>pngdata/evils/png70.png</key>
			<dict>
				<key>frame</key>
				<string>{{934,479},{76,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,77}</string>
			</dict>
			<key>pngdata/evils/png71.png</key>
			<dict>
				<key>frame</key>
				<string>{{800,640},{23,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{59,59}</string>
			</dict>
			<key>pngdata/evils/png72.png</key>
			<dict>
				<key>frame</key>
				<string>{{967,728},{23,25}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{24,25}</string>
			</dict>
			<key>pngdata/evils/png73.png</key>
			<dict>
				<key>frame</key>
				<string>{{911,726},{23,26}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{59,59}</string>
			</dict>
			<key>pngdata/evils/png74.png</key>
			<dict>
				<key>frame</key>
				<string>{{240,459},{22,24}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{22,25}</string>
			</dict>
			<key>pngdata/evils/png75.png</key>
			<dict>
				<key>frame</key>
				<string>{{939,726},{23,26}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{24,26}</string>
			</dict>
			<key>pngdata/evils/png8.png</key>
			<dict>
				<key>frame</key>
				<string>{{589,567},{35,27}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{59,59}</string>
			</dict>
			<key>pngdata/evils/png9.png</key>
			<dict>
				<key>frame</key>
				<string>{{894,235},{39,40}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{55,57}</string>
			</dict>
			<key>effect/rainbow_brush/bomb1.png</key>
			<dict>
				<key>frame</key>
				<string>{{790,1},{134,146}}</string>
				<key>offset</key>
				<string>{1,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>
			<key>effect/rainbow_brush/bomb2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,449},{134,150}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>
			<key>effect/rainbow_brush/bomb3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,311},{136,153}}</string>
				<key>offset</key>
				<string>{2,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>
			<key>effect/rainbow_brush/bomb14.png</key>
			<dict>
				<key>frame</key>
				<string>{{158,309},{149,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>
			<key>effect/rainbow_brush/bomb4.png</key>
			<dict>
				<key>frame</key>
				<string>{{317,307},{145,157}}</string>
				<key>offset</key>
				<string>{-2,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>
			<key>effect/rainbow_brush/bomb5.png</key>
			<dict>
				<key>frame</key>
				<string>{{317,157},{148,155}}</string>
				<key>offset</key>
				<string>{-2,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>
			<key>effect/rainbow_brush/bomb7.png</key>
			<dict>
				<key>frame</key>
				<string>{{478,154},{156,149}}</string>
				<key>offset</key>
				<string>{3,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>
			<key>effect/rainbow_brush/bomb6.png</key>
			<dict>
				<key>frame</key>
				<string>{{635,1},{153,152}}</string>
				<key>offset</key>
				<string>{-3,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>
			<key>effect/rainbow_brush/bomb13.png</key>
			<dict>
				<key>frame</key>
				<string>{{478,1},{151,155}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>
			<key>effect/rainbow_brush/bomb8.png</key>
			<dict>
				<key>frame</key>
				<string>{{158,156},{157,151}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>
			<key>effect/rainbow_brush/bomb11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,156},{153,155}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>
			<key>effect/rainbow_brush/bomb10.png</key>
			<dict>
				<key>frame</key>
				<string>{{322,1},{154,154}}</string>
				<key>offset</key>
				<string>{1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>
			<key>effect/rainbow_brush/bomb12.png</key>
			<dict>
				<key>frame</key>
				<string>{{162,1},{153,158}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>
			<key>effect/rainbow_brush/bomb9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{159,153}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>fightelementimglist3.png</string>
			<key>realTextureFileName</key>
			<string>fightelementimglist3.png</string>
			<key>size</key>
			<string>{1024,773}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>773</integer>
		</dict>
	</dict>
</plist>