<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>pngdata/brush/jellyboom1.png</key>
			<dict>
				<key>frame</key>
				<string>{{805,638},{134,145}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{136,147}</string>
			</dict>
			<key>pngdata/brush/jellyboom10.png</key>
			<dict>
				<key>frame</key>
				<string>{{280,800},{111,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{113,116}</string>
			</dict>
			<key>pngdata/brush/jellyboom11.png</key>
			<dict>
				<key>frame</key>
				<string>{{685,389},{153,157}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{155,159}</string>
			</dict>
			<key>pngdata/brush/jellyboom12.png</key>
			<dict>
				<key>frame</key>
				<string>{{942,586},{33,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{35,34}</string>
			</dict>
			<key>pngdata/brush/jellyboom13.png</key>
			<dict>
				<key>frame</key>
				<string>{{46,656},{21,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,25}</string>
			</dict>
			<key>pngdata/brush/jellyboom14.png</key>
			<dict>
				<key>frame</key>
				<string>{{942,504},{44,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,42}</string>
			</dict>
			<key>pngdata/brush/jellyboom15.png</key>
			<dict>
				<key>frame</key>
				<string>{{988,552},{37,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{39,28}</string>
			</dict>
			<key>pngdata/brush/jellyboom16.png</key>
			<dict>
				<key>frame</key>
				<string>{{942,546},{38,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{40,46}</string>
			</dict>
			<key>pngdata/brush/jellyboom2.png</key>
			<dict>
				<key>frame</key>
				<string>{{416,790},{109,139}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{111,141}</string>
			</dict>
			<key>pngdata/brush/jellyboom3.png</key>
			<dict>
				<key>frame</key>
				<string>{{396,901},{100,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{102,128}</string>
			</dict>
			<key>pngdata/brush/jellyboom4.png</key>
			<dict>
				<key>frame</key>
				<string>{{791,785},{84,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,120}</string>
			</dict>
			<key>pngdata/brush/jellyboom5.png</key>
			<dict>
				<key>frame</key>
				<string>{{942,387},{81,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{83,117}</string>
			</dict>
			<key>pngdata/brush/jellyboom6.png</key>
			<dict>
				<key>frame</key>
				<string>{{586,683},{96,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,111}</string>
			</dict>
			<key>pngdata/brush/jellyboom7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{570,334}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{572,336}</string>
			</dict>
			<key>pngdata/brush/jellyboom8.png</key>
			<dict>
				<key>frame</key>
				<string>{{846,238},{398,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{400,96}</string>
			</dict>
			<key>pngdata/brush/jellyboom9.png</key>
			<dict>
				<key>frame</key>
				<string>{{557,794},{113,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{115,123}</string>
			</dict>
			<key>pngdata/colorslm/png1.png</key>
			<dict>
				<key>frame</key>
				<string>{{977,613},{11,6}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{13,8}</string>
			</dict>
			<key>pngdata/colorslm/png2.png</key>
			<dict>
				<key>frame</key>
				<string>{{988,504},{46,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{48,28}</string>
			</dict>
			<key>pngdata/colorslm/png3.png</key>
			<dict>
				<key>frame</key>
				<string>{{69,656},{23,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{25,23}</string>
			</dict>
			<key>pngdata/colorslm/png4.png</key>
			<dict>
				<key>frame</key>
				<string>{{35,979},{10,12}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{12,14}</string>
			</dict>
			<key>pngdata/colorslm/png5.png</key>
			<dict>
				<key>frame</key>
				<string>{{987,591},{40,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{42,23}</string>
			</dict>
			<key>pngdata/gameplayeffect1/png1.png</key>
			<dict>
				<key>frame</key>
				<string>{{416,683},{105,168}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{106,169}</string>
			</dict>
			<key>pngdata/gameplayeffect1/png10.png</key>
			<dict>
				<key>frame</key>
				<string>{{977,626},{8,8}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{10,10}</string>
			</dict>
			<key>pngdata/gameplayeffect1/png11.png</key>
			<dict>
				<key>frame</key>
				<string>{{977,636},{8,8}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{10,10}</string>
			</dict>
			<key>pngdata/gameplayeffect1/png12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1010,627},{4,4}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{6,6}</string>
			</dict>
			<key>pngdata/gameplayeffect1/png13.png</key>
			<dict>
				<key>frame</key>
				<string>{{113,678},{4,4}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{6,6}</string>
			</dict>
			<key>pngdata/gameplayeffect1/png14.png</key>
			<dict>
				<key>frame</key>
				<string>{{129,638},{18,11}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,13}</string>
			</dict>
			<key>pngdata/gameplayeffect1/png15.png</key>
			<dict>
				<key>frame</key>
				<string>{{57,964},{9,9}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{11,11}</string>
			</dict>
			<key>pngdata/gameplayeffect1/png16.png</key>
			<dict>
				<key>frame</key>
				<string>{{46,1002},{10,11}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{12,13}</string>
			</dict>
			<key>pngdata/gameplayeffect1/png2.png</key>
			<dict>
				<key>frame</key>
				<string>{{490,548},{133,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{135,136}</string>
			</dict>
			<key>pngdata/gameplayeffect1/png3.png</key>
			<dict>
				<key>frame</key>
				<string>{{497,389},{157,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{159,188}</string>
			</dict>
			<key>pngdata/gameplayeffect1/png4.png</key>
			<dict>
				<key>frame</key>
				<string>{{573,1},{271,192}}</string>
				<key>offset</key>
				<string>{-2,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{302,223}</string>
			</dict>
			<key>pngdata/gameplayeffect1/png5.png</key>
			<dict>
				<key>frame</key>
				<string>{{22,1003},{15,10}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{20,15}</string>
			</dict>
			<key>pngdata/gameplayeffect1/png6.png</key>
			<dict>
				<key>frame</key>
				<string>{{58,975},{8,6}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{9,7}</string>
			</dict>
			<key>pngdata/gameplayeffect1/png7.png</key>
			<dict>
				<key>frame</key>
				<string>{{68,962},{5,6}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{7,7}</string>
			</dict>
			<key>pngdata/gameplayeffect1/png8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1010,613},{5,4}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{6,6}</string>
			</dict>
			<key>pngdata/gameplayeffect1/png9.png</key>
			<dict>
				<key>frame</key>
				<string>{{58,1007},{6,7}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{8,8}</string>
			</dict>
			<key>pngdata/gameplayeffect2/png1.png</key>
			<dict>
				<key>frame</key>
				<string>{{846,1},{235,173}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{237,175}</string>
			</dict>
			<key>pngdata/gameplayeffect2/png10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1004,633},{25,10}}</string>
				<key>offset</key>
				<string>{-2,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{29,14}</string>
			</dict>
			<key>pngdata/gameplayeffect2/png2.png</key>
			<dict>
				<key>frame</key>
				<string>{{977,586},{13,8}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{15,10}</string>
			</dict>
			<key>pngdata/gameplayeffect2/png3.png</key>
			<dict>
				<key>frame</key>
				<string>{{69,951},{5,6}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{7,8}</string>
			</dict>
			<key>pngdata/gameplayeffect2/png4.png</key>
			<dict>
				<key>frame</key>
				<string>{{46,964},{10,9}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{12,11}</string>
			</dict>
			<key>pngdata/gameplayeffect2/png5.png</key>
			<dict>
				<key>frame</key>
				<string>{{66,993},{5,6}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{7,8}</string>
			</dict>
			<key>pngdata/gameplayeffect2/png6.png</key>
			<dict>
				<key>frame</key>
				<string>{{47,976},{10,9}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{12,11}</string>
			</dict>
			<key>pngdata/gameplayeffect2/png7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1004,660},{24,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{26,21}</string>
			</dict>
			<key>pngdata/gameplayeffect2/png8.png</key>
			<dict>
				<key>frame</key>
				<string>{{46,1015},{7,8}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{8,10}</string>
			</dict>
			<key>pngdata/gameplayeffect2/png9.png</key>
			<dict>
				<key>frame</key>
				<string>{{56,988},{7,7}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{8,9}</string>
			</dict>
			<key>pngdata/gameplayeffect3/png1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1010,591},{8,4}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{10,6}</string>
			</dict>
			<key>pngdata/gameplayeffect3/png2.png</key>
			<dict>
				<key>frame</key>
				<string>{{24,656},{20,25}}</string>
				<key>offset</key>
				<string>{1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{21,26}</string>
			</dict>
			<key>pngdata/gameplayeffect3/png3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1010,601},{10,3}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{12,5}</string>
			</dict>
			<key>pngdata/gameplayeffect3/png4.png</key>
			<dict>
				<key>frame</key>
				<string>{{45,993},{7,9}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{9,10}</string>
			</dict>
			<key>pngdata/gameplayeffect3/png5.png</key>
			<dict>
				<key>frame</key>
				<string>{{119,678},{4,4}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{6,6}</string>
			</dict>
			<key>pngdata/gameplayeffect3/png6.png</key>
			<dict>
				<key>frame</key>
				<string>{{55,1015},{7,8}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{9,10}</string>
			</dict>
			<key>pngdata/gameplayeffect3/png7.png</key>
			<dict>
				<key>frame</key>
				<string>{{125,678},{4,4}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{6,6}</string>
			</dict>
			<key>pngdata/gameplayeffect3/png8.png</key>
			<dict>
				<key>frame</key>
				<string>{{942,238},{147,81}}</string>
				<key>offset</key>
				<string>{2,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{156,81}</string>
			</dict>
			<key>pngdata/gameplayeffect3/png9.png</key>
			<dict>
				<key>frame</key>
				<string>{{113,656},{20,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{20,20}</string>
			</dict>
			<key>pngdata/gameplayeffect4/png1.png</key>
			<dict>
				<key>frame</key>
				<string>{{114,638},{13,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{13,16}</string>
			</dict>
			<key>pngdata/gameplayeffect4/png10.png</key>
			<dict>
				<key>frame</key>
				<string>{{28,638},{20,16}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{21,18}</string>
			</dict>
			<key>pngdata/gameplayeffect4/png11.png</key>
			<dict>
				<key>frame</key>
				<string>{{685,544},{197,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{199,120}</string>
			</dict>
			<key>pngdata/gameplayeffect4/png12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,337},{312,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{314,105}</string>
			</dict>
			<key>pngdata/gameplayeffect4/png13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,684},{265,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{267,127}</string>
			</dict>
			<key>pngdata/gameplayeffect4/png2.png</key>
			<dict>
				<key>frame</key>
				<string>{{987,633},{49,15}}</string>
				<key>offset</key>
				<string>{-2,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{53,18}</string>
			</dict>
			<key>pngdata/gameplayeffect4/png3.png</key>
			<dict>
				<key>frame</key>
				<string>{{65,985},{6,6}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{7,7}</string>
			</dict>
			<key>pngdata/gameplayeffect4/png4.png</key>
			<dict>
				<key>frame</key>
				<string>{{33,951},{12,11}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{13,12}</string>
			</dict>
			<key>pngdata/gameplayeffect4/png5.png</key>
			<dict>
				<key>frame</key>
				<string>{{66,975},{6,6}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{7,7}</string>
			</dict>
			<key>pngdata/gameplayeffect4/png6.png</key>
			<dict>
				<key>frame</key>
				<string>{{33,965},{12,11}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{13,12}</string>
			</dict>
			<key>pngdata/gameplayeffect4/png7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,656},{25,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{26,23}</string>
			</dict>
			<key>pngdata/gameplayeffect4/png8.png</key>
			<dict>
				<key>frame</key>
				<string>{{92,656},{22,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{24,20}</string>
			</dict>
			<key>pngdata/gameplayeffect4/png9.png</key>
			<dict>
				<key>frame</key>
				<string>{{73,638},{18,16}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{19,17}</string>
			</dict>
			<key>pngdata/gameplayeffect5/png1.png</key>
			<dict>
				<key>frame</key>
				<string>{{684,743},{105,168}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,169}</string>
			</dict>
			<key>pngdata/gameplayeffect5/png10.png</key>
			<dict>
				<key>frame</key>
				<string>{{977,646},{8,8}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{10,10}</string>
			</dict>
			<key>pngdata/gameplayeffect5/png11.png</key>
			<dict>
				<key>frame</key>
				<string>{{35,993},{8,8}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{10,10}</string>
			</dict>
			<key>pngdata/gameplayeffect5/png12.png</key>
			<dict>
				<key>frame</key>
				<string>{{66,1001},{4,4}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{6,6}</string>
			</dict>
			<key>pngdata/gameplayeffect5/png13.png</key>
			<dict>
				<key>frame</key>
				<string>{{72,1001},{4,4}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{6,6}</string>
			</dict>
			<key>pngdata/gameplayeffect5/png14.png</key>
			<dict>
				<key>frame</key>
				<string>{{22,983},{18,11}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{20,13}</string>
			</dict>
			<key>pngdata/gameplayeffect5/png15.png</key>
			<dict>
				<key>frame</key>
				<string>{{58,951},{9,9}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{11,11}</string>
			</dict>
			<key>pngdata/gameplayeffect5/png16.png</key>
			<dict>
				<key>frame</key>
				<string>{{46,951},{10,11}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{12,13}</string>
			</dict>
			<key>pngdata/gameplayeffect5/png2.png</key>
			<dict>
				<key>frame</key>
				<string>{{280,665},{133,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{135,136}</string>
			</dict>
			<key>pngdata/gameplayeffect5/png3.png</key>
			<dict>
				<key>frame</key>
				<string>{{302,506},{157,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{159,188}</string>
			</dict>
			<key>pngdata/gameplayeffect5/png4.png</key>
			<dict>
				<key>frame</key>
				<string>{{573,195},{271,192}}</string>
				<key>offset</key>
				<string>{-2,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{302,223}</string>
			</dict>
			<key>pngdata/gameplayeffect5/png5.png</key>
			<dict>
				<key>frame</key>
				<string>{{34,1003},{15,10}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{20,15}</string>
			</dict>
			<key>pngdata/gameplayeffect5/png6.png</key>
			<dict>
				<key>frame</key>
				<string>{{58,997},{8,6}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{9,7}</string>
			</dict>
			<key>pngdata/gameplayeffect5/png7.png</key>
			<dict>
				<key>frame</key>
				<string>{{67,1007},{5,6}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{7,7}</string>
			</dict>
			<key>pngdata/gameplayeffect5/png8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1010,620},{5,4}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{6,6}</string>
			</dict>
			<key>pngdata/gameplayeffect5/png9.png</key>
			<dict>
				<key>frame</key>
				<string>{{64,1015},{6,7}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{8,8}</string>
			</dict>
			<key>pngdata/gameplayeffect6/png1.png</key>
			<dict>
				<key>frame</key>
				<string>{{977,601},{7,10}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{9,12}</string>
			</dict>
			<key>pngdata/gameplayeffect6/png2.png</key>
			<dict>
				<key>frame</key>
				<string>{{50,638},{15,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{17,23}</string>
			</dict>
			<key>pngdata/gameplayeffect6/png3.png</key>
			<dict>
				<key>frame</key>
				<string>{{93,638},{15,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{17,21}</string>
			</dict>
			<key>pngdata/gameplayeffect6/png4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,951},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>pngdata/gameplayeffect6/png5.png</key>
			<dict>
				<key>frame</key>
				<string>{{942,620},{33,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{33,32}</string>
			</dict>
			<key>pngdata/gameplayeffect6/png6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,638},{25,14}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{26,15}</string>
			</dict>
			<key>pngdata/gameplayeffect6/png7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,983},{19,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{21,21}</string>
			</dict>
			<key>pngdata/gameplayeffect6/png8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1016,504},{76,3}}</string>
				<key>offset</key>
				<string>{-2,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,3}</string>
			</dict>
			<key>pngdata/gameplayeffect6/png9.png</key>
			<dict>
				<key>frame</key>
				<string>{{171,442},{192,129}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{192,129}</string>
			</dict>
			<key>pngdata/gameplayeffect7/png1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1004},{19,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{21,21}</string>
			</dict>
			<key>pngdata/gameplayeffect7/png2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1016,582},{76,3}}</string>
				<key>offset</key>
				<string>{-2,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,3}</string>
			</dict>
			<key>pngdata/gameplayeffect7/png3.png</key>
			<dict>
				<key>frame</key>
				<string>{{149,636},{192,129}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{192,129}</string>
			</dict>
			<key>effect/collect/collect8.png</key>
			<dict>
				<key>frame</key>
				<string>{{315,337},{180,167}}</string>
				<key>offset</key>
				<string>{1,9}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>effect/collect/collect9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,442},{180,168}}</string>
				<key>offset</key>
				<string>{1,8}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>effect/hammer/bomb4.png</key>
			<dict>
				<key>frame</key>
				<string>{{128,830},{108,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>effect/hammer/bomb5.png</key>
			<dict>
				<key>frame</key>
				<string>{{524,909},{108,112}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>effect/hammer/bomb6.png</key>
			<dict>
				<key>frame</key>
				<string>{{241,913},{108,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>effect/hammer/bomb7.png</key>
			<dict>
				<key>frame</key>
				<string>{{634,913},{104,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>effect/hammer/bomb8.png</key>
			<dict>
				<key>frame</key>
				<string>{{739,913},{104,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>effect/hammer/bomb9.png</key>
			<dict>
				<key>frame</key>
				<string>{{843,905},{104,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>fightanimatelist5.png</string>
			<key>realTextureFileName</key>
			<string>fightanimatelist5.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>