<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>pngdata/honorlottery/holottery1.png</key>
			<dict>
				<key>frame</key>
				<string>{{434,736},{54,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,56}</string>
			</dict>
			<key>pngdata/honorlottery/holottery2.png</key>
			<dict>
				<key>frame</key>
				<string>{{862,829},{54,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,56}</string>
			</dict>
			<key>pngdata/honorlottery/holottery3.png</key>
			<dict>
				<key>frame</key>
				<string>{{537,736},{159,207}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{161,209}</string>
			</dict>
			<key>honor/addfriendbtn.png</key>
			<dict>
				<key>frame</key>
				<string>{{159,901},{317,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{317,110}</string>
			</dict>
			<key>honor/centre.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,736},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>
			<key>honor/circle.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{577,577}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{577,577}</string>
			</dict>
			<key>honor/collcetreward.png</key>
			<dict>
				<key>frame</key>
				<string>{{988,221},{168,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{168,24}</string>
			</dict>
			<key>honor/freepackbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{580,290},{302,287}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{302,287}</string>
			</dict>
			<key>honor/freepacks.png</key>
			<dict>
				<key>frame</key>
				<string>{{988,391},{147,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{147,25}</string>
			</dict>
			<key>honor/gifticon.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,868},{119,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{119,117}</string>
			</dict>
			<key>honor/honorbtn_g.png</key>
			<dict>
				<key>frame</key>
				<string>{{746,781},{114,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,105}</string>
			</dict>
			<key>honor/honoricon_m.png</key>
			<dict>
				<key>frame</key>
				<string>{{380,736},{66,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{67,52}</string>
			</dict>
			<key>honor/honorpackbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{580,1},{362,287}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{362,287}</string>
			</dict>
			<key>honor/honorpacks.png</key>
			<dict>
				<key>frame</key>
				<string>{{983,817},{178,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{178,25}</string>
			</dict>
			<key>honor/honorrewardtxt.png</key>
			<dict>
				<key>frame</key>
				<string>{{944,1},{590,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{590,42}</string>
			</dict>
			<key>honor/honorwheel.png</key>
			<dict>
				<key>frame</key>
				<string>{{928,593},{306,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{306,53}</string>
			</dict>
			<key>honor/hopro.png</key>
			<dict>
				<key>frame</key>
				<string>{{988,1},{218,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{222,32}</string>
			</dict>
			<key>honor/hoprobg.png</key>
			<dict>
				<key>frame</key>
				<string>{{983,593},{222,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{222,32}</string>
			</dict>
			<key>honor/level_b.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,997},{77,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{77,23}</string>
			</dict>
			<key>honor/level_o.png</key>
			<dict>
				<key>frame</key>
				<string>{{80,997},{77,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{77,23}</string>
			</dict>
			<key>honor/levelbg_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{133,829},{200,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,56}</string>
			</dict>
			<key>honor/levelbg_b.png</key>
			<dict>
				<key>frame</key>
				<string>{{335,829},{200,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,56}</string>
			</dict>
			<key>honor/playwithfritxt.png</key>
			<dict>
				<key>frame</key>
				<string>{{884,290},{537,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{537,42}</string>
			</dict>
			<key>honor/rankbtn1.png</key>
			<dict>
				<key>frame</key>
				<string>{{198,736},{180,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,56}</string>
			</dict>
			<key>honor/rankbtn2.png</key>
			<dict>
				<key>frame</key>
				<string>{{782,579},{200,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{200,70}</string>
			</dict>
			<key>honor/spin.png</key>
			<dict>
				<key>frame</key>
				<string>{{478,887},{93,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{93,51}</string>
			</dict>
			<key>honor/titlebg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,580},{779,154}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{779,154}</string>
			</dict>
			<key>honor/vsicon.png</key>
			<dict>
				<key>frame</key>
				<string>{{133,781},{63,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{63,43}</string>
			</dict>
			<key>honor/wan.png</key>
			<dict>
				<key>frame</key>
				<string>{{133,736},{54,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,41}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>honorplist.png</string>
			<key>realTextureFileName</key>
			<string>honorplist.png</string>
			<key>size</key>
			<string>{1017,1021}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1017</integer>
			<key>height</key>
			<integer>1021</integer>
		</dict>
	</dict>
</plist>