<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>omg/omgback.png</key>
			<dict>
				<key>frame</key>
				<string>{{466,1},{154,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{154,42}</string>
			</dict>
			<key>omg/omgbgbar.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,424},{332,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{332,64}</string>
			</dict>
			<key>omg/omgbgcolor.png</key>
			<dict>
				<key>frame</key>
				<string>{{459,249},{40,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>
			<key>omg/omgcircolor1.png</key>
			<dict>
				<key>frame</key>
				<string>{{335,122},{90,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,90}</string>
			</dict>
			<key>omg/omgcircolor2.png</key>
			<dict>
				<key>frame</key>
				<string>{{335,214},{90,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,90}</string>
			</dict>
			<key>omg/omgcircolor3.png</key>
			<dict>
				<key>frame</key>
				<string>{{335,306},{90,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,90}</string>
			</dict>
			<key>omg/omgcolor1.png</key>
			<dict>
				<key>frame</key>
				<string>{{459,291},{40,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>
			<key>omg/omgcolor10.png</key>
			<dict>
				<key>frame</key>
				<string>{{459,333},{40,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>
			<key>omg/omgcolor2.png</key>
			<dict>
				<key>frame</key>
				<string>{{151,1},{40,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>
			<key>omg/omgcolor3.png</key>
			<dict>
				<key>frame</key>
				<string>{{193,1},{40,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>
			<key>omg/omgcolor4.png</key>
			<dict>
				<key>frame</key>
				<string>{{235,1},{40,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>
			<key>omg/omgcolor5.png</key>
			<dict>
				<key>frame</key>
				<string>{{277,1},{40,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>
			<key>omg/omgcolor6.png</key>
			<dict>
				<key>frame</key>
				<string>{{151,43},{40,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>
			<key>omg/omgcolor7.png</key>
			<dict>
				<key>frame</key>
				<string>{{193,43},{40,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>
			<key>omg/omgcolor8.png</key>
			<dict>
				<key>frame</key>
				<string>{{235,43},{40,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>
			<key>omg/omgcolor9.png</key>
			<dict>
				<key>frame</key>
				<string>{{277,43},{40,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>
			<key>omg/omgcount0.png</key>
			<dict>
				<key>frame</key>
				<string>{{427,214},{30,43}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,44}</string>
			</dict>
			<key>omg/omgcount1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,490},{20,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{20,44}</string>
			</dict>
			<key>omg/omgcount2.png</key>
			<dict>
				<key>frame</key>
				<string>{{427,259},{30,43}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,44}</string>
			</dict>
			<key>omg/omgcount3.png</key>
			<dict>
				<key>frame</key>
				<string>{{427,122},{31,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{31,44}</string>
			</dict>
			<key>omg/omgcount4.png</key>
			<dict>
				<key>frame</key>
				<string>{{427,304},{30,43}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,44}</string>
			</dict>
			<key>omg/omgcount5.png</key>
			<dict>
				<key>frame</key>
				<string>{{427,349},{30,43}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,44}</string>
			</dict>
			<key>omg/omgcount6.png</key>
			<dict>
				<key>frame</key>
				<string>{{427,472},{28,43}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{28,44}</string>
			</dict>
			<key>omg/omgcount7.png</key>
			<dict>
				<key>frame</key>
				<string>{{59,93},{27,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{27,44}</string>
			</dict>
			<key>omg/omgcount8.png</key>
			<dict>
				<key>frame</key>
				<string>{{427,168},{30,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,44}</string>
			</dict>
			<key>omg/omgcount9.png</key>
			<dict>
				<key>frame</key>
				<string>{{151,85},{28,43}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{28,44}</string>
			</dict>
			<key>omg/omgframe1.png</key>
			<dict>
				<key>frame</key>
				<string>{{335,398},{90,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,90}</string>
			</dict>
			<key>omg/omgframe2.png</key>
			<dict>
				<key>frame</key>
				<string>{{59,1},{90,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,90}</string>
			</dict>
			<key>omg/omgjellyboom.png</key>
			<dict>
				<key>frame</key>
				<string>{{335,1},{129,119}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{129,119}</string>
			</dict>
			<key>omg/omgshare.png</key>
			<dict>
				<key>frame</key>
				<string>{{427,394},{76,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,76}</string>
			</dict>
			<key>omg/omgstar1.png</key>
			<dict>
				<key>frame</key>
				<string>{{460,157},{44,45}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{44,46}</string>
			</dict>
			<key>omg/omgstar2.png</key>
			<dict>
				<key>frame</key>
				<string>{{459,203},{44,45}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{44,46}</string>
			</dict>
			<key>omg/title.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{421,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{421,56}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>omgplist.png</string>
			<key>realTextureFileName</key>
			<string>omgplist.png</string>
			<key>size</key>
			<string>{509,511}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>509</integer>
			<key>height</key>
			<integer>511</integer>
		</dict>
	</dict>
</plist>