<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>weekgame/icon2.png</key>
			<dict>
				<key>frame</key>
				<string>{{871,821},{92,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{92,92}</string>
			</dict>
			<key>weekgame/weekgamehelptitle.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,964},{191,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{191,58}</string>
			</dict>
			<key>weekgame/weekgamerankdes1.png</key>
			<dict>
				<key>frame</key>
				<string>{{548,525},{437,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{437,38}</string>
			</dict>
			<key>weekgame/weekgamerankitembg1.png</key>
			<dict>
				<key>frame</key>
				<string>{{941,646},{171,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{171,63}</string>
			</dict>
			<key>weekgame/weekgamerewarddes1.png</key>
			<dict>
				<key>frame</key>
				<string>{{997,157},{58,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{58,22}</string>
			</dict>
			<key>weekgame/weekgamerewarddes2.png</key>
			<dict>
				<key>frame</key>
				<string>{{997,1},{82,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{82,22}</string>
			</dict>
			<key>weekgame/weekgamerewarddes3.png</key>
			<dict>
				<key>frame</key>
				<string>{{997,85},{70,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{70,22}</string>
			</dict>
			<key>weekgame/weekgamerewarddes4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,239},{507,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{507,58}</string>
			</dict>
			<key>weekgame/weekgamerewardtitle.png</key>
			<dict>
				<key>frame</key>
				<string>{{929,1},{532,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{532,66}</string>
			</dict>
			<key>weekgame/n_hurtgray.png</key>
			<dict>
				<key>frame</key>
				<string>{{162,299},{71,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{71,73}</string>
			</dict>
			<key>weekgame/n_hurtimg.png</key>
			<dict>
				<key>frame</key>
				<string>{{237,299},{71,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{71,73}</string>
			</dict>
			<key>weekgame/helpbtn.png</key>
			<dict>
				<key>frame</key>
				<string>{{871,754},{65,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{65,65}</string>
			</dict>
			<key>weekgame/ticketdes_gray1.png</key>
			<dict>
				<key>frame</key>
				<string>{{581,1},{522,172}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{522,172}</string>
			</dict>
			<key>weekgame/ticketdes_gray2.png</key>
			<dict>
				<key>frame</key>
				<string>{{755,1},{522,172}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{522,172}</string>
			</dict>
			<key>weekgame/weekgamerankitembg4.png</key>
			<dict>
				<key>frame</key>
				<string>{{806,754},{171,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{171,63}</string>
			</dict>
			<key>pngdata/weekgamewin/weekganmewin1.png</key>
			<dict>
				<key>frame</key>
				<string>{{400,942},{83,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{83,71}</string>
			</dict>
			<key>pngdata/weekgamewin/weekganmewin2.png</key>
			<dict>
				<key>frame</key>
				<string>{{440,799},{141,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{141,98}</string>
			</dict>
			<key>pngdata/weekgamewin/weekganmewin3.png</key>
			<dict>
				<key>frame</key>
				<string>{{687,946},{83,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{83,71}</string>
			</dict>
			<key>pngdata/weekgamewin/weekganmewin4.png</key>
			<dict>
				<key>frame</key>
				<string>{{723,525},{141,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{141,98}</string>
			</dict>
			<key>pngdata/weekgamewin/weekganmewin5.png</key>
			<dict>
				<key>frame</key>
				<string>{{310,799},{128,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,133}</string>
			</dict>
			<key>pngdata/weekgamewin/weekganmewin6.png</key>
			<dict>
				<key>frame</key>
				<string>{{588,525},{128,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,133}</string>
			</dict>
			<key>pngdata/weekgamewin/weekganmewin7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{578,236}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{578,237}</string>
			</dict>
			<key>weekgame/changeelementeffect/effect1.png</key>
			<dict>
				<key>frame</key>
				<string>{{162,372},{69,69}}</string>
				<key>offset</key>
				<string>{-2,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,137}</string>
			</dict>
			<key>weekgame/changeelementeffect/effect10.png</key>
			<dict>
				<key>frame</key>
				<string>{{866,535},{109,109}}</string>
				<key>offset</key>
				<string>{-2,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,137}</string>
			</dict>
			<key>weekgame/changeelementeffect/effect11.png</key>
			<dict>
				<key>frame</key>
				<string>{{588,655},{107,106}}</string>
				<key>offset</key>
				<string>{-2,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,137}</string>
			</dict>
			<key>weekgame/changeelementeffect/effect12.png</key>
			<dict>
				<key>frame</key>
				<string>{{832,646},{107,106}}</string>
				<key>offset</key>
				<string>{-2,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,137}</string>
			</dict>
			<key>weekgame/changeelementeffect/effect13.png</key>
			<dict>
				<key>frame</key>
				<string>{{723,625},{107,107}}</string>
				<key>offset</key>
				<string>{-2,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,137}</string>
			</dict>
			<key>weekgame/changeelementeffect/effect14.png</key>
			<dict>
				<key>frame</key>
				<string>{{697,734},{107,106}}</string>
				<key>offset</key>
				<string>{-2,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,137}</string>
			</dict>
			<key>weekgame/changeelementeffect/effect2.png</key>
			<dict>
				<key>frame</key>
				<string>{{85,299},{75,75}}</string>
				<key>offset</key>
				<string>{-2,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,137}</string>
			</dict>
			<key>weekgame/changeelementeffect/effect3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,299},{82,82}}</string>
				<key>offset</key>
				<string>{-2,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,137}</string>
			</dict>
			<key>weekgame/changeelementeffect/effect4.png</key>
			<dict>
				<key>frame</key>
				<string>{{310,934},{88,88}}</string>
				<key>offset</key>
				<string>{-2,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,137}</string>
			</dict>
			<key>weekgame/changeelementeffect/effect5.png</key>
			<dict>
				<key>frame</key>
				<string>{{897,915},{91,91}}</string>
				<key>offset</key>
				<string>{-2,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,137}</string>
			</dict>
			<key>weekgame/changeelementeffect/effect6.png</key>
			<dict>
				<key>frame</key>
				<string>{{800,927},{95,95}}</string>
				<key>offset</key>
				<string>{-2,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,137}</string>
			</dict>
			<key>weekgame/changeelementeffect/effect7.png</key>
			<dict>
				<key>frame</key>
				<string>{{588,871},{97,97}}</string>
				<key>offset</key>
				<string>{-2,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,137}</string>
			</dict>
			<key>weekgame/changeelementeffect/effect8.png</key>
			<dict>
				<key>frame</key>
				<string>{{696,842},{102,102}}</string>
				<key>offset</key>
				<string>{-2,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,137}</string>
			</dict>
			<key>weekgame/changeelementeffect/effect9.png</key>
			<dict>
				<key>frame</key>
				<string>{{588,763},{106,106}}</string>
				<key>offset</key>
				<string>{-2,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,137}</string>
			</dict>
			<key>weekgame/arrows.png</key>
			<dict>
				<key>frame</key>
				<string>{{997,243},{15,9}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{15,9}</string>
			</dict>
			<key>weekgame/fisticon.png</key>
			<dict>
				<key>frame</key>
				<string>{{997,217},{24,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{24,25}</string>
			</dict>
			<key>weekgame/protxtbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{194,964},{114,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,43}</string>
			</dict>
			<key>weekgame/weekgameprogressbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{510,239},{558,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{558,36}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>weekgameplist2.png</string>
			<key>realTextureFileName</key>
			<string>weekgameplist2.png</string>
			<key>size</key>
			<string>{1023,1023}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1023</integer>
			<key>height</key>
			<integer>1023</integer>
		</dict>
	</dict>
</plist>