<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>angle</key>
    <integer>88</integer>
    <key>angleVariance</key>
    <integer>180</integer>
    <key>blendFuncDestination</key>
    <integer>1</integer>
    <key>blendFuncSource</key>
    <integer>770</integer>
    <key>duration</key>
    <real>-3.6940000000000017</real>
    <key>emitterType</key>
    <integer>0</integer>
    <key>finishColorAlpha</key>
    <integer>1</integer>
    <key>finishColorBlue</key>
    <real>0.6</real>
    <key>finishColorGreen</key>
    <integer>1</integer>
    <key>finishColorRed</key>
    <integer>1</integer>
    <key>finishColorVarianceAlpha</key>
    <integer>0</integer>
    <key>finishColorVarianceBlue</key>
    <integer>0</integer>
    <key>finishColorVarianceGreen</key>
    <integer>0</integer>
    <key>finishColorVarianceRed</key>
    <integer>0</integer>
    <key>finishParticleSize</key>
    <integer>15</integer>
    <key>finishParticleSizeVariance</key>
    <integer>13</integer>
    <key>gravityx</key>
    <integer>-20</integer>
    <key>gravityy</key>
    <integer>-40</integer>
    <key>maxParticles</key>
    <integer>200</integer>
    <key>maxRadius</key>
    <integer>0</integer>
    <key>maxRadiusVariance</key>
    <integer>0</integer>
    <key>minRadius</key>
    <integer>0</integer>
    <key>particleLifespan</key>
    <real>0.5</real>
    <key>particleLifespanVariance</key>
    <real>0.1</real>
    <key>radialAccelVariance</key>
    <integer>0</integer>
    <key>radialAcceleration</key>
    <integer>0</integer>
    <key>rotatePerSecond</key>
    <integer>0</integer>
    <key>rotatePerSecondVariance</key>
    <integer>0</integer>
    <key>rotationEnd</key>
    <integer>0</integer>
    <key>rotationEndVariance</key>
    <integer>0</integer>
    <key>rotationStart</key>
    <integer>12</integer>
    <key>rotationStartVariance</key>
    <integer>0</integer>
    <key>sourcePositionVariancex</key>
    <integer>0</integer>
    <key>sourcePositionVariancey</key>
    <integer>0</integer>
    <key>sourcePositionx</key>
    <real>391.45868945868943</real>
    <key>sourcePositiony</key>
    <real>370.55555555555554</real>
    <key>speed</key>
    <integer>200</integer>
    <key>speedVariance</key>
    <integer>20</integer>
    <key>startColorAlpha</key>
    <integer>1</integer>
    <key>startColorBlue</key>
    <integer>1</integer>
    <key>startColorGreen</key>
    <integer>1</integer>
    <key>startColorRed</key>
    <integer>1</integer>
    <key>startColorVarianceAlpha</key>
    <real>0.4980392156862745</real>
    <key>startColorVarianceBlue</key>
    <real>0.09803921568627451</real>
    <key>startColorVarianceGreen</key>
    <real>0.09803921568627451</real>
    <key>startColorVarianceRed</key>
    <real>0.09803921568627451</real>
    <key>startParticleSize</key>
    <integer>39</integer>
    <key>startParticleSizeVariance</key>
    <integer>33</integer>
    <key>tangentialAccelVariance</key>
    <integer>0</integer>
    <key>tangentialAcceleration</key>
    <integer>0</integer>
    <key>positionType</key>
    <integer>1</integer>
    <key>rotationIsDir</key>
    <false/>
    <key>minRadiusVariance</key>
    <integer>0</integer>
    <key>emissionRate</key>
    <integer>1000</integer>
    <key>spriteFrameUuid</key>
    <string>0015936f-9e21-406f-a833-dfb0e5765565</string>
  </dict>
</plist>