<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>angle</key>
    <integer>90</integer>
    <key>angleVariance</key>
    <integer>90</integer>
    <key>blendFuncDestination</key>
    <integer>1</integer>
    <key>blendFuncSource</key>
    <integer>770</integer>
    <key>duration</key>
    <real>0.3</real>
    <key>emitterType</key>
    <integer>0</integer>
    <key>emissionRate</key>
    <integer>120</integer>
    <key>finishColorAlpha</key>
    <integer>1</integer>
    <key>finishColorBlue</key>
    <real>0.1411765</real>
    <key>finishColorGreen</key>
    <real>0.3490196</real>
    <key>finishColorRed</key>
    <integer>1</integer>
    <key>finishColorVarianceAlpha</key>
    <real>0.1529412</real>
    <key>finishColorVarianceBlue</key>
    <real>0.1607843</real>
    <key>finishColorVarianceGreen</key>
    <real>0.1607843</real>
    <key>finishColorVarianceRed</key>
    <real>0.5490196</real>
    <key>rotationStart</key>
    <integer>60</integer>
    <key>rotationStartVariance</key>
    <integer>40</integer>
    <key>rotationEnd</key>
    <integer>30</integer>
    <key>rotationEndVariance</key>
    <integer>10</integer>
    <key>finishParticleSize</key>
    <integer>20</integer>
    <key>finishParticleSizeVariance</key>
    <integer>10</integer>
    <key>gravityx</key>
    <integer>0</integer>
    <key>gravityy</key>
    <integer>-1500</integer>
    <key>maxParticles</key>
    <integer>240</integer>
    <key>maxRadius</key>
    <integer>0</integer>
    <key>maxRadiusVariance</key>
    <integer>0</integer>
    <key>minRadius</key>
    <integer>0</integer>
    <key>minRadiusVariance</key>
    <integer>0</integer>
    <key>particleLifespan</key>
    <integer>2</integer>
    <key>particleLifespanVariance</key>
    <integer>0</integer>
    <key>radialAcceleration</key>
    <integer>0</integer>
    <key>radialAccelVariance</key>
    <integer>0</integer>
    <key>rotatePerSecond</key>
    <integer>0</integer>
    <key>rotatePerSecondVariance</key>
    <integer>0</integer>
    <key>sourcePositionVariancex</key>
    <integer>80</integer>
    <key>sourcePositionVariancey</key>
    <integer>80</integer>
    <key>speed</key>
    <integer>1000</integer>
    <key>speedVariance</key>
    <integer>400</integer>
    <key>startColorAlpha</key>
    <integer>1</integer>
    <key>startColorBlue</key>
    <integer>1</integer>
    <key>startColorGreen</key>
    <real>0.4039216</real>
    <key>startColorRed</key>
    <real>0.3137255</real>
    <key>startColorVarianceAlpha</key>
    <integer>1</integer>
    <key>startColorVarianceBlue</key>
    <integer>1</integer>
    <key>startColorVarianceGreen</key>
    <integer>1</integer>
    <key>startColorVarianceRed</key>
    <integer>1</integer>
    <key>startParticleSize</key>
    <integer>20</integer>
    <key>startParticleSizeVariance</key>
    <integer>10</integer>
    <key>tangentialAcceleration</key>
    <integer>0</integer>
    <key>tangentialAccelVariance</key>
    <integer>0</integer>
    <key>textureImageData</key>
    <string>eJydU81u00AQtloOKFKv/ElIK/cCCHu9/ol/VFM1dkojkRClkZoj6/W6Ma29rr0lbo/cOHDlMZCQuCAOcOUVeAQkxAsglXWJC0JVD+zBu7P+vpnZmflejUeP1zp3OpIkrQ12wonYm3Pn+or4roxn38R2m/dnfJclfIFLKm3FLKJgkOF9OqE4Pjn6QjckafUonc74bPjEIyxTcYNR66yQmrWxWReYHFAOIrqf5r784+MnGaSxL+9ZQ21YBHSe7pyWdPd0NCWnB8SN5c1HYKP2hIOMcgzq7DCvvNqXz/164txcQxmcQ/iBL/9OajYcg4CVFFiqpRANmcB2VWQh00EPga4hA2oGRIaCdE9zPWSB5ZJFtDJOvEm4vYwlLF+ec154EC4WC3VhqKzch8h1XajpUNcVgVCqk5zjWsmr9dZDSCtSpgVPWQ4aG0fsmPuy3D4hK4bDC8d5tSyUKBmscQGRqsEsgy264hOaXI2upicFhRNaseOSiH4k63+FupraAEU23tMyFU3BhyEjxxnN+SD0ZfFHjdPYM3BMCcaWoiPDUbq6qSsu0mKli2yXmF3dJRpu/VzG17pOLwxdywqQiVA/dNx+L7D7jmPZtoG2+y13kFcc54S23PQP17yS6wUlxZyVU8YO2ykYzxln1ZwVIAjAvb00j9miut90aJkoLdMXNN4uWQbOS+yll4RHBNtW5BAlcnWiJJFpK25sICXpUsu2EOkmFpKX/Ph/SwdFUvCfuWmvxDA2xwsVCONCRzQX4imFSj48f/dGKOzGINya1l+jn2dnm6v5Z+fB6zXp2i3pvX/3e9672UhZGvRH4dves5e/ALRcNh0=</string>
  </dict>
</plist>